/* ===== Base Reset ===== */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ===== Global Styles ===== */
body {
  font-family: 'Inter', sans-serif;
  color: #1f2937;
}